---
title: NRSNG
---
<section class="nrsng">
  <article>
    <%= partial "partials/nrsng"  %>
    <% link_to 'https://itunes.apple.com/app/id1098101229' do %>
      <%= image_tag("appstorebadge.png", alt: "Download NRSNG on the App Store", width: "256px") %>
    <% end %>
  </article>
  <aside>
    <% link_to 'https://itunes.apple.com/app/id1098101229' do %>
      <%= image_tag("nrsng.png", alt: "NRSNG app icon", width: "256px") %>
    <% end %>
    <br>
    <sub>Icon design by <%= link_to 'Geesignz', 'http://geesignz.com' %><sub>
  </aside>
</section>
