@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

html,body{
    margin: 0;
    padding: 0;
}

body {
    background-color: $base-background-color;
}

header {
    @include outer-container(90%);
    text-align: center;
}

section {
    background-color: $secondary-background-color;
    @include outer-container(90%);
    aside {
        @include span-columns(6);
        @include media($mobile) {
            @include span-columns(4);
        }
    }
    article {
        @include span-columns(6);
        @include media($mobile) {
            @include span-columns(4);
        }
    }
}

footer {
    @include outer-container(90%);
    text-align: center;
}

#site {
    background: $secondary-background-color;
}
