@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

html,body{
    margin: 0;
    padding: 0;
}

body {
    background-color: $base-background-color;

    #site {
        background-color: $secondary-background-color;
        padding: 50px 34px 0px 34px;
    }

    #footer {
        background-color: $medium-brown;
    }
}

header {
    @include outer-container(90%);
    @include pad(1em 0em 0em 0em);
    text-align: center;
}

nav {
    @include pad(1em 0em 0em 0em);
    text-align: center;

    li { display: inline; }
    li a { padding: 16px 16px; }
}

section {
  @include outer-container;

  &.description {
    background-color: $secondary-background-color;

    aside {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
      }
    }

    article {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
      }
    }
  }

  &.portfolio {
    article {
      @include span-columns(12);
      @include pad(2.5em 0em);

      h2 { font-size: 2em; }

      #portfolio {
        @include span-columns(6);
        @include media($mobile) {
          @include span-columns(4);
        }
      }

      #portfolio-image {
        @include span-columns(6);
        @include media($mobile) {
          @include span-columns(4);
        }
      }
    }

    li {
      list-style-type: disc;
      margin-left: 1.5em;
    }
}

  &.nrsng {
    aside {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
      }
    }

    article {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
      }
    }

    li {
      list-style-type: disc;
      margin-left: 1.5em;
    }
  }

    &.prefooter {
        @include pad(2.5em 0em);

        li {
            @include span-columns(2);
            text-align: center;

            @include media($mobile) {
                @include pad(1em 0em);
                @include shift(5);
                @include omega(1n);
            }
        }
    }
}

footer {
    @include outer-container;
    @include pad(5em 0em);
    background-color: $medium-brown;
    text-align: center;
}
