<section class="prefooter">
  <nav>
    <ul>
        <li>Twitter</li>
        <li>GitHub</li>
        <li>Für's Protokoll</li>
        <li>Stack Overflow</li>
        <li>Xing</li>
        <li>LinkedIN</li>
    </ul>
  </nav>
</section>
