---
title: Marc Kalmes
---
<article>
  <h1>Ich bin Marc Kalmes: Freiberuflicher iOS Entwickler und Podcaster.</h1>
  <p>Seit 2009 entwickele ich Software für iOS. Nach meinem Studium zum Diplom-Informatiker (FH) habe ich 3 Jahre Erfahrung mit Kundenprojekten und mehr als 6 Jahre Erfahrung als iOS Entwickler gesammelt. In dieser Zeit habe ich sowohl mit großen Marken als auch mit kleinen Unternehmen zusammengearbeitet.</p>
  <p>Meine Stimme kann man jede Woche in meinem Podcast <a href="http://www.protokollcast.de">Für's Protokoll</a> hören. Dort berichte ich über Tech News, Programmierung und was so im Dunstkreis von Apple passiert.</p>
  <p>Ich lebe gemeinsam mit meiner Frau in Köln. Von hier arbeite ich an Projekten.</p>
  <p>Wenn Sie mit mir Kontakt aufnehmen möchten, schreiben Sie an <strong>mkalmes at mkalmes dot net</strong> Ich freue mich auf Ihre Mail.</p>
</article>
<aside><%= image_tag("marckalmes.jpg", alt: "") %></aside>
