---
title: Marc Kalmes
---
<section class="description">
  <article>
  <%= partial "partials/about"  %>
  </article>
  <aside><%= image_tag("marckalmes.jpg", alt: "Portrait von Marc Kalmes") %></aside>
</section>
